.img-container > div > img {
  /* width: 400px; */
  width: 100%;
  /* height: 500px; */
}
.img-container > div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 15px;
  /* width: 200px;
  height: 300px; */
}
.size {
  display: flex;
  flex-wrap: wrap;
  /* border: 1px solid black; */
  width: 100%;
  /* background-color: aquamarine; */
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.size p {
  margin-right: 1em;
  margin-bottom: 10px;
  border: 1px solid grey;
  padding: 11.4px;
  font-weight: bold;
}
/* .size p:hover{
  background-color: black;
  color: white;
} */
.activeSize{
  background-color: black;
  color: white;
}
.cartBtns {
  display: flex;
  /* padding: 16px 2em; */
  justify-content: space-between;
}
 
.addToCart {
  color: white;
  padding: 10px 5em;
  background-color: rgb(252, 100, 134);
}
.addToWishlist {
  display: flex;
  align-items: center;
  border: 1px solid grey;
  padding: 10px 1em;
  margin-right: 27px;
}
.addToWishlist i {
  padding: 3px;
}
.addToWishlist:hover {
  color: rgb(252, 100, 134);
}
.addToWishlist,
.addToCart {
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
}
/* #delivery{
  padding: 12px 32px;
  border: 1px solid black;
} */
#delivery{
  display: flex;
}
#delivery > p{
  margin: 5px;
  font-size: 0.8rem;
  cursor: pointer;
  padding: 10px 23px;
  border: 1px solid rgb(185, 176, 176);
}
