.topBar{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    box-shadow: 0 0 0 .5px rgb(174, 172, 172);
    position: fixed;
    margin-bottom: 100px;
    width: 100%;
    top: 0;
    z-index: 100;
    background-color: #fff;
}
.topBar div:nth-child(2){
    justify-content: center;
}
.topBar ul > li{
    list-style: none;
    font-size: 12px;
    font-weight: 600;
    padding: 0 5px;
    border-right: 1px solid black;
}
.topBar ul > li:last-child{
    border: none;
    font-size: 16px;
    margin-right: 10px;
}

.midBar{
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    top: 33px;
    
    /* border: 1px solid red; */
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 15px 15px 10px;
    align-items: baseline;
    z-index: 20;
}


.navList{
    display: flex;
    transition: all;

}
.navList > li{
    list-style-type: none;
    font-size: 12px;
    padding: 0px 8px 5px;
    font-weight: 600;
    border-bottom: 4px solid white;
    
}
.navList > li:last-child{
    color: #fc6486;
}
.navList > li:hover{
    border-bottom: 4px solid #fc6486;
    transition-timing-function: ease-in-out;
    text-decoration: 5s;
}

.midBarCard{
    position: absolute;
    z-index: 10;
    /* left: -270px; */
    left: 0;
    top: 56px;
    background-color: #fff;
    box-shadow: 0 0 1px grey;
    width: 100%;
    visibility: hidden;
}
.hamburgerMenu{
    display: none;
}
.midBarCard > div{
    width: 60%;
    margin: auto;
    padding-right: 80px;
    display: flex;
    min-width: 500px;
    justify-content: space-between;
}
.midBarCard > div > div{
    padding: 40px 20px;
}
.midBarCard > div li{
    padding-bottom: 15px;
    cursor: pointer;
    /* border: 1px solid red; */
}
.midBarCard > div h1{
    font-size: 15px;
    font-weight: 600;
    padding-bottom: 10px;
}
.midBarCard img{
    width: 330px;
    max-height: 350px;
}
.search{
    position: absolute;
    width: 400px;
    right: 6px;
    z-index: 10;
    /* background-color: rgb(243, 240, 240); */
    top: -7px;
}
.search ul{
    margin-top: 10px;
    padding: 10px 0;
    background-color: #fff;
    list-style-type: none;
    border-radius: 5px;
    box-shadow: 0 0 2px rgb(216, 216, 216);
}
.search ul > li{
    padding: 8px 20px; 
}
.search ul > li:hover{
    background-color: rgb(243, 240, 240);
    box-shadow: 0 0 2px rgb(196, 195, 195);
}
/* .search input:focus{
    
} */
.navList > li:hover .midBarCard{
    visibility: visible;
}
@media only screen and (max-width: 1160px){
    .hideLists{
        display: none;
    }
}
@media only screen and (max-width: 900px){
    .topBar > div:first-child{
        display: none;
    }
    .topBar{
        grid-template-columns: repeat(2, 1fr);
    }
    .topBar div:nth-child(2){
        display: flex;
        justify-content: left;
        /* border: 1px solid red; */
    }

    .midBar > div img{
        display: none;
    }
    .midBar > div:nth-child(2){
        display: none;
    }
    .hamburgerMenu{
        display: block;
    }

}